body {
  font-family: 'Roboto', sans-serif;
}
.news-list-item h5 {
  margin-top: 0;
}
.detail-news-img {
  float: left;
  margin: 0 20px 10px 0;
  max-width: 500px;
}
.news_detail_pubdate {
  margin-bottom: 0;
}
.detail-news-first-paragraph {
  font-weight: bold;
  margin-top: 0;
  font-size: 1.2em;
}
.detail-news-content {
}
/* Weather */
.weather-img {
  width: 50px;
  float: left;
}
.weather-group p {
  display: block;
  float: left;
  line-height: 50px;
  font-size: 1em;
  margin-left: 0.5em;
}
.weather-group p span {
  font-size: 1.3em;
  font-weight: bold; 
}
